
<div class="container-fluid">

	<div class="row">
		<div class="col-md-4">
			<div ng-if="errorMessage" style="color: red">{{ errorMessage }}</div>
			<div class="portlet-title">
				<div class="page-header">
					<h3 id="text">Forgot Password</h3>
				</div>
			</div>
			<div class="portlet-body">
				<form name="fPwdForm" novalidate>

					<div class="form-group"
						ng-class="{'has-error':fPwdForm.email.$invalid && fPwdForm.email.$dirty, 'has-success': fPwdForm.email.$valid }">
						<input type="email" class="form-control"
							placeholder="Enter email"
							ng-pattern="/^[a-z0-9A-Z]+[a-zA-Z0-9._]*@[a-zA-Z]+(\.[a-zA-Z]+)*(\.[a-zA-Z]{2,5})$/"
							name="email" ng-model="userName" required />
						<p class="help-block" style="color: red"
							ng-if="fPwdForm.email.$invalid && fPwdForm.email.$dirty">Please
							Enter valid email.</p>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary"
							style="margin-left: 120px;" ng-disabled="fPwdForm.$invalid"
							ng-click="forgotPassword(userName)">Reset Password</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
