<div class="container-fluid">

	<div class="row">
		<div class="col-md-4">
			<div ng-if="errorMessage" style="color: red">{{ errorMessage }}</div>
			<span style="color: red" ng-show="IsMatch">Passwords have to match!</span>
			<div class="portlet-title">
				<div class="page-header">
					<h3 id="text">Forgot Password</h3>
				</div>
			</div>
			<div class="portlet-body">
				<form name="pwdForm" novalidate>
					<div class="form-group"
						ng-class="{'has-error': pwdForm.oldpassword.$invalid && pwdForm.oldpassword.$dirty, 'has-success': pwdForm.oldpassword.$valid}">
						<input type="password" class="form-control"
							placeholder="Enter new password" name="oldpassword"
							ng-model="user.oldPassword" ng-minLength="8" required />
						<p class="help-block" style="color: red"
							ng-if="pwdForm.oldpassword.$invalid && pwdForm.oldpassword.$dirty">Please
							Enter at least 8 characters</p>
					</div>
					<div class="form-group"
						ng-class="{'has-error': pwdForm.password.$invalid && pwdForm.password.$dirty, 'has-success': pwdForm.password.$valid}">
						<input type="password" class="form-control"
							placeholder="Enter confirm password" name="password"
							ng-model="user.newPassword" " ng-minLength="8"
							ng-match="user.oldPassword" required />
						<p class="help-block" style="color: red"
							ng-if="pwdForm.password.$invalid && pwdForm.password.$dirty">Please
							Enter at least 8 characters</p>

					</div>

					<div class="form-group">
						<a class="btn btn-info" ng-disabled="pwdForm.$invalid"
							style="margin-left: 140px;" ng-click="validatePassword(user)">Submit</a>
					</div>

				</form>

			</div>

		</div>
	</div>
</div>



